body{
    background:rgb(34, 39, 38);
    color:white;
    
  }
  .main{
    width:50%;
    margin-left:25%;
    height: auto;
   border:1px solid white;
   display:flex;
   flex-direction: column;
   font-family:'Courier New', Courier;
  
  }
  .title {
    padding-bottom: 2em;
    text-align: center;
    margin:1em;
    font-size: 20px;
  }
  .main > div{
    border-radius: 5%;  
    height: 3em;
    margin:0.5em;
  }
  
  input[type="number"] {
    width:99%;
    height: 2.9em;
    margin-bottom:0.1em;
    border-radius: 5%;
    padding:2px;
  }
  .base-2{
    background:rgb(66, 133, 72);
    padding-left: 1em;
    padding-bottom:.6em;
  
  }
  .base-5{
    background:rgb(54, 57, 100);
    padding-left: 1em;
    padding-bottom:.6em;
  }
  .base-8{
    background:rgb(52, 97, 139);
    padding-left: 1em;
    padding-bottom:.6em;
  }
  .base-8-10{
      background:rgb(23, 7, 66);
      padding-left: 1em;
      padding-bottom:.6em;
  }
  .base-5-10{
    background:rgb(4, 70, 66);
    padding-left: 1em;
    padding-bottom:.6em;
  }
  .base-2-10{
      background:rgb(52, 7, 88);
      padding-left: 1em;
      padding-bottom:.6em;
  }